<ion-view class="player" view-title="Player">
  <ion-nav-bar>
    <ion-nav-back-button class="button-clear">
      <i class="ico-back ion-ios-arrow-back"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/en/5/5c/Metallica_-_Kill_'Em_All_cover.jpg" alt="" />
      <progress value="50" max="100">50%</progress>
      <div class="item range">
        <i class="icon ion-volume-low"></i>
        <input type="range" name="volume">
        <i class="icon ion-volume-high"></i>
      </div>
    </div>

  </ion-content>
</ion-view>